<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.stylefeng.guns.modular.transaction.mapper.EmpInfoMapper">
    <insert id="insertOriginalData">
        insert into guns.friend_link_table(id, username, status, sign, avatar)
        values (#{id}, #{name}, 'offline', '我是买家', #{avatar});
    </insert>
    <insert id="insertOriginalDataToSell">
        insert into guns.friend_link_table(id, toId, username, status, sign, avatar)
        values (#{id}, '47', #{name}, 'offline', '我是买家', #{avatar});
    </insert>
    <insert id="insertOriginalDataToBuyer">
        insert into guns.friend_link_table(id, toId, username, status, sign, avatar)
        values ('47', #{id}, '卖方', 'offline', '我是卖家', #{avatar});

    </insert>
    <insert id="insertUser">
        insert into guns.sys_user(avatar, account, password, salt, name, birthday, sex, email, phone, roleid,
                                  deptid, status, createtime, version)
        values (#{avatar}, #{account}, #{password}, #{salt}, #{name}, #{birthday}, #{sex}, #{email}, #{phone},
                #{roleid}, #{deptid}, #{status}, #{createtime}, #{version});

    </insert>
    <select id="findMine" resultType="cn.stylefeng.guns.modular.transaction.model.EmpInfo">
        select id          as id,
               toId        as toId,
               username    as username,
               status      as status,
               sign        as sign,
               avatar      as avatar,
               isLogin     as isLogin,
               content     as content,
               type        as type,
               mine        as mine,
               timestamp   as timestamp,
               historyTime as historyTime
        from guns.friend_link_table flt
        where flt.id = #{id}
          and flt.toId is null;
    </select>
    <select id="searchPersonId" resultType="java.lang.String">
        select max(id)
        from guns.sys_user;
    </select>
</mapper>